<!DOCTYPE html>
<html>
  <head>
    <title>Công cụ tự đánh giá về khả năng mắc COVID-19</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" />

    <meta charset="UTF-8">


    <style>
      .img{
        margin: 10px;
      }
      .questionbox {
        border: gray 1px dashed;
        padding: 20px;
        border-radius: 5px;
        background: whitesmoke;
        margin-top: 10px;
        margin-bottom: 10px;
      }

    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160700196-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-160700196-1');
    </script>

  </head>
  <body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=719690998442071&autoLogAppEvents=1"></script>
  <section class="section">
    <div class="container" id="app">
      <div class="columns content is-medium">
        <div class="column">
          <h1 class="is-large">Công cụ tự đánh giá về  khả năng mắc COVID-19</h1>
          <p>
            Công cụ tự đánh giá này, được phát triển dự trên tham khảo của Bộ Y tế  <a href="https://covid19.thrive.health/">British Columbia</a> , sẽ giúp xác định xem bạn có cần đánh giá hoặc xét nghiệm thêm cho COVID-19 hay không.
            Bạn có thể hoàn thành đánh giá này cho chính mình, hoặc thay mặt người khác, nếu họ không thể.


          <h3>Ai nên được xét nghiệm COVID-19?</h3>
          <p>
            Những người có triệu chứng hô hấp bao gồm:
          <ul>
              <li>Nhập viện, hoặc có khả năng nhập viện
              </li>
              <li>Nhân viên y tế
              </li>
              <li>Nhân viên của các cơ sở chăm sóc sức khoẻ (ví dụ viện dưỡng lão)
              </li>
              <li>
                Nằm trong các tổ  điều tra dịch
              </li>
            </ul>
          </p>
          <h3>Ai không cần xét nghiệm COVID-19?</h3>
          <p>
            <ul>
              <li>Những người không có triệu chứng
              </li>
              <li>Hoặc không có yếu tố dịch tể và không được chỉ định bởi các nhà chuyên môn.
              </li>

            </ul>

          </p>

          <p>
            Cơ quan y tế đề xuất rằng bất cứ ai có những triệu chứng - bao gồm sốt, ho, hắt xì, đau họng, hoặc khó thở , luôn phải tự cách ly tiếp xúc với người khác và liên hệ với cơ quan y tế để kiểm tra.
            Không tự tiện đi khám bệnh nếu chưa được tư vấn rõ hoặc khi đi khám phải khai báo từ ban đầu có nguy cơ và triệu chứng để nhân viên y tế có biện pháp xử lý hợp lý.

          </p>
          <p>

          </p>

          <blockquote>
            Để  bảo đảm an toàn cho bạn khi ở nơi công cộng, hãy rửa tay thường xuyên và luôn giữ khoảng cách tố i thiếu 2 mét đối với người khác.
            Để tìm hiểu thông tin về  COVID-19, các bạn có thể tham khảo tại  <a href="https://moh.gov.vn/tin-noi-bat/-/asset_publisher/3Yst7YhbkA5j/content/cap-nhat-thong-tin-ve-dich-benh-viem-uong-ho-hap-cap-covid-19-tong-hop-?inheritRedirect=false&redirect=https%3A%2F%2Fmoh.gov.vn%3A443%2Ftin-noi-bat%3Fp_p_id%3D101_INSTANCE_3Yst7YhbkA5j%26p_p_lifecycle%3D0%26p_p_state%3Dnormal%26p_p_mode%3Dview%26p_p_col_id%3Drow-1-column-1%26p_p_col_count%3D1">website Bộ Y Tế</a>. Đường dây nóng: 1900-9095 hoặc 1900-3228.
            For more information on COVID-19, refer to BCCDC's COVID-19 website.
          </blockquote>

          <h2>Những câu hỏi để bạn tự kiểm tra</h2>

          <div class="questionbox">
            <h3>Bạn có đang có những triệu chứng sau không:</h3>
            <ul>
              <li>
                Rất khó thở</li>
              <li>Rất đau ngực</li>
              <li>Ngủ dậy rất khó khăn</li>
              <li>Cảm thấy bối rối</li>
              <li>Mất ý thức</li>
            </ul>

            <button class="button is-primary" v-on:click="setCase('a')">Không Đúng</button>
            <button class="button is-link" v-on:click="setConclusion('yes')">Đúng</button>
          </div>

          <div class="questionbox" v-if="cases.a">
            <h3>(a) Bạn có đang có những triệu chứng sau không:</h3>
            <ul>
              <li>Thở gấp</li>
              <li>
                Không thể nằm xuống vì cảm thấy khó thở
                </li>
              <li>Gặp khó khăn trong việc kiểm soát những bệnh mãn tính mà bạn có vì bệnh hô hấp hiện tại
              </li>

            </ul>

            <button class="button is-primary" v-on:click="setCase('b')">Không Đúng</button>
            <button class="button is-link" v-on:click="setConclusion('yes')">Đúng</button>

          </div>

          <div class="questionbox" v-if="cases.b">
            <h3>(b) Bạn có đang có những triệu chứng sau không:</h3>
            <ul>
              <li>Sốt cao hơn 38°C      </li>
              <li>Ho</li>

              <li>Hắt xì̀</li>
              <li>Đau họng</li>
              <li>Thở gấ p hoặc khó thở</li>
            </ul>

            <button class="button is-primary" v-on:click="setCase('c')">Không Đúng</button>
            <button class="button is-link" v-on:click="setConclusion('stayhome')">Đúng</button>
          </div>



          <div class="questionbox" v-if="cases.c">
            <h3>(c) Trong 14 ngày qua, bạn có đi đến những nơi có dịch tại Việt Nam hoặc quốc tế không, bạn có đi du lịch nước ngoài hoặc tới khu vực sân bay?</h3>


            <button class="button is-primary" v-on:click="setCase('d')">Không Đúng</button>
            <button class="button is-link"  v-on:click="setConclusion('selfisolate')">Đúng</button>
          </div>

          <div class="questionbox" v-if="cases.d">
            <h3>(d) Trong 14 ngày qua, bạn có tiếp xúc gần với người có triệu chứng (ho, sốt, hắt xì, đau họng) hoặc được xác nhận hoặc nghi ngờ nhiễm COVID-19 không?</h3>
            Một người tiếp xúc gần là
            <ul>
              <li>Người chăm sóc cho cá nhân, bao gồm nhân viên y tế, thành viên gia đình hoặc người chăm sóc khác,
                hoặc những người có tiếp xúc gần gũi tương tự khác mà không sử dụng thiết bị bảo vệ cá nhân phù hợp (khẩu trang y tế hoặc găng tay) HOẶC
                </li>
              <li>Những người sống với hoặc tiếp xúc gần gũi kéo dài (trong vòng 2 mét) với người đó trong khi họ bị nhiễm COVID-19 HOẶC</li>
              <li>đã tiếp xúc trực tiếp với chất dịch truyền nhiễm cơ thể của người (ví dụ  bị ho hoặc hắt hơi) trong khi không đeo thiết bị bảo vệ cá nhân được khuyến nghị (khẩu trang y tế  hoặc găng tay)</li>
            </ul>

            <button class="button is-primary" v-on:click="setConclusion('healthdeclaration')">Không Đúng</button>
            <button class="button is-link"  v-on:click="setConclusion('selfmonitor')">Đúng</button>
          </div>




          <div class="questionbox" v-if="conclusion == 'healthdeclaration'">
            <h3>Vì bạn không có triệu chứng COVID-19, nên bạn không cần phải được xét nghiệm COVID-19.</h3>
            <p>
            Nếu bạn cảm thấy bất kỳ triệu chứng COVID-19, hãy tự đánh giá lại. Nếu bạn cần thêm thông tin, hãy truy cập <a href="https://moh.gov.vn/tin-noi-bat/-/asset_publisher/3Yst7YhbkA5j/content/cap-nhat-thong-tin-ve-dich-benh-viem-uong-ho-hap-cap-covid-19-tong-hop-?inheritRedirect=false&redirect=https%3A%2F%2Fmoh.gov.vn%3A443%2Ftin-noi-bat%3Fp_p_id%3D101_INSTANCE_3Yst7YhbkA5j%26p_p_lifecycle%3D0%26p_p_state%3Dnormal%26p_p_mode%3Dview%26p_p_col_id%3Drow-1-column-1%26p_p_col_count%3D1">website Bộ Y Tế</a>. Đường dây nóng: 1900-9095 hoặc 1900-3228.</p>

          </div>

          <div class="questionbox" v-if="conclusion == 'selfmonitor'">
            <h3>Vì bạn không có triệu chứng COVID-19, nên bạn không cần phải được xét nghiệm COVID-19.</h3>
            <p>
              Tuy nhiên, có một cơ hội mà bạn có thể bị bệnh kể từ khi nó có ít hơn 14 ngày kể từ khi bạn đi du lịch. Bạn nên tự cách ly cho đến 14 ngày sau khi trở về nhà. Tự cô lập có nghĩa là don lồng đi đến bất kỳ nơi công cộng nào, ở nhà và don có bất kỳ du khách nào. Nếu bạn có thắc mắc, hãy truy cập https://www.saskatchewan.ca/coronavirus.
            </p>
            <p>
              Nếu bạn nhận được bất kỳ triệu chứng COVID-19, hãy tự đánh giá lại.
            </p>
            <p>
              Nếu bạn đang gặp phải các triệu chứng khác và muốn đánh giá, hãy truy cập <a href="https://moh.gov.vn/tin-noi-bat/-/asset_publisher/3Yst7YhbkA5j/content/cap-nhat-thong-tin-ve-dich-benh-viem-uong-ho-hap-cap-covid-19-tong-hop-?inheritRedirect=false&redirect=https%3A%2F%2Fmoh.gov.vn%3A443%2Ftin-noi-bat%3Fp_p_id%3D101_INSTANCE_3Yst7YhbkA5j%26p_p_lifecycle%3D0%26p_p_state%3Dnormal%26p_p_mode%3Dview%26p_p_col_id%3Drow-1-column-1%26p_p_col_count%3D1">website Bộ Y Tế</a>. Đường dây nóng: 1900-9095 hoặc 1900-3228.</p>
            </p>

          </div>

          <div class="questionbox" v-if="conclusion == 'selfisolate'">
            <h3>Vì bạn không có triệu chứng COVID-19, nên bạn không cần phải được xét nghiệm COVID-19.</h3>
            <p>
              Tuy nhiên, có một cơ hội mà bạn có thể bị bệnh kể từ khi nó có ít hơn 14 ngày kể từ khi bạn đi du lịch. Bạn nên tự cách ly cho đến 14 ngày sau khi trở về nhà. Tự cô lập có nghĩa là don lồng đi đến bất kỳ nơi công cộng nào, ở nhà và don có bất kỳ du khách nào. Nếu bạn có thắc mắc, hãy truy cập https://www.saskatchewan.ca/coronavirus.
            </p>
            <p>
              Nếu bạn nhận được bất kỳ triệu chứng COVID-19, hãy tự đánh giá lại.
            </p>
            <p>
              Nếu bạn đang gặp phải các triệu chứng khác và muốn đánh giá, hãy truy cập <a href="https://moh.gov.vn/tin-noi-bat/-/asset_publisher/3Yst7YhbkA5j/content/cap-nhat-thong-tin-ve-dich-benh-viem-uong-ho-hap-cap-covid-19-tong-hop-?inheritRedirect=false&redirect=https%3A%2F%2Fmoh.gov.vn%3A443%2Ftin-noi-bat%3Fp_p_id%3D101_INSTANCE_3Yst7YhbkA5j%26p_p_lifecycle%3D0%26p_p_state%3Dnormal%26p_p_mode%3Dview%26p_p_col_id%3Drow-1-column-1%26p_p_col_count%3D1">website Bộ Y Tế</a>. Đường dây nóng: 1900-9095 hoặc 1900-3228.</p>
            </p>

          </div>

          <div class="questionbox" v-if="conclusion == 'yes'">
            <h3 style="color: darkred;">
              Vui lòng <b>ở tại nhà và không ra ngoài, sử  dụng khẩu trang, rửa tay và súc miệng diệt khuẩn thường xuyên để tránh lây bệnh cho người thân</b>.</h3>
            <p>Bạn hãy tuần tự làm những việc sau:</p>
              <ul>
                <li>Hãy bình tĩnh, không hoảng loạn và tránh lây nhiễm ra người thân và cộng đồng</li>

                <li>Thông báo cho người thân và những người liên quan bằng điện thoại, Zalo để  được hỗ trợ thực hiện tờ khai y tế  tại: <a href="https://tokhaiyte.vn/">https://tokhaiyte.vn/</a></li>
                </li>
                <li>Gọi cấp cứu hotline  1900-9095 hoặc 1900-3228 hoặc 115 để được đến trực tiếp phòng cấp cứu gần nhất có kiểm tra COVID-19 </li>
                  <li>Không nên tự di chuyển hoặc sử dụng các phương tiện công cộng, Taxi.</li>
                <li> Hãy thông báo cho người tiếp nhận là bạn đang có những triệu chứng của COVID-19.
                </li>

                <li>Hãy cẩn trọng trong mọi quyết định và hành động của mình để  giảm tối đa việc lây lân ra cộng đồng.
                </li>
                <li>Ghi chú ra giấy những địa điểm và những người bạn đã tiếp xúc trong suốt 14 ngày qua
                </li>

              </ul>

              <br/>


          </div>
          <div class="questionbox" v-if="conclusion == 'stayhome'">
            <h3 style="color: darkred;">

              Vui lòng <b>ở tại nhà và không ra ngoài, sử  dụng khẩu trang, rửa tay và súc miệng diệt khuẩn thường xuyên để tránh lây bệnh cho người thân</b>.</h3>
              <ul>
                <li>Thực hiện tờ khai y tế  tại: <a href="https://tokhaiyte.vn/">https://tokhaiyte.vn/</a></li>
                <li>Không tự đi khám hay kiểm tra y tế để tránh lây nhiễm ra cộng đồng</li>
                <li>Không tự ra các nơi công cộng để mua đồ đạc mà hãy đặt trực tuyến hoặc gọi giao hàng</li>
                <li>Liên hệ cơ quan y tế gần nhất chuyên trách hoặc gọi điện số  đường dây nóng: 1900-9095 hoặc 1900-3228</li>
                <li>Thực hiện tự cách ly ít nhất 14 ngày cho dù bạn không thuộc diện nguy cơ</li>
                <li>Không sử dụng chung bất cứ đồ đạc cá nhân nào: chén dĩa, dụng cụ nhà bếp, khăn tắm....</li>
                <li>Trong trường hợp triệu chứng của bạn nặng lên, vui đến trực tiếp phòng cấp cứu gần nhất có kiểm tra COVID-19 bằng cách gọi cấp cứu 115, lập tức sử dụng bảo hộ cá nhân để tránh lây cho những người xung quanh.
                  Không nên tự di chuyển hoặc sử dụng các phương tiện công cộng, Taxi.</li>
              </ul>

              <br/>
              Hãy thông báo cho người tiếp nhận là bạn đang có những triệu chứng của COVID-19.

          </div>
          <br/>
          <br/>
          <h3>Chia sẻ công cụ này</h3>
          <div class="fb-share-button" data-href="https://lambdademy.github.io/covid19-selfcheck/" data-layout="button_count" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flambdademy.github.io%2Fcovid19-selfcheck%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a>
          </div>
          <h3>Cập nhật về  COVID-19 từ cộng đồng </h3>
          &raquo; <a href="https://www.facebook.com/groups/155042985943381/">Cộng đồng kết nối Y khoa phòng chống Covid-19</a>
          <h3>Comment & Góp ý</h3>

          <div class="fb-comments" data-href="https://lambdademy.github.io/covid19-selfcheck/" data-width="" data-numposts="50"></div>
        </div>
        <div class="column">
          <div class="img">
          <img style="width: 100%" src="images/canh-bao-covid19.jpg" alt="canh-bao-covid19"></div>
          <div class="img">
            <img style="width: 100%" src="images/nghi-nhiem-covid19.jpg" alt="nghi-nhiem-covid19"></div>
          <div class="img">
            <img style="width: 100%" src="images/loi-khuyen-covid19.jpg" alt="loi-khuyen-covid19"></div>
          <blockquote>
            Mã nguồn: <a href="https://github.com/lambdademy/covid19-selfcheck">https://github.com/lambdademy/covid19-selfcheck</a>
          </blockquote>
        </div>

      </div>

    </div>
  </section>


    <script>
      const cases_default =  {
        'a': false,
        'b': false,
        'c': false,
        'd': false,

      };

      new Vue({
        el: "#app",
        data: {
          cases: cases_default,
          conclusion: ''
        },
        computed: {

        },
        methods: {
          setCase: function(c){
            console.log("case: " + c);
            this.cases[c] = true;
            this.conclusion = null;

          },
          setConclusion: function(c){
            this.conclusion = c;

          }

        }
      });
    </script>
  </body>
</html>

